Repository sergiocarracedo/work-diary: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{ts,tsx}'
      run: npx oxlint {staged_files}
    format-check:
      glob: '*.{ts,tsx,json}'
      run: npx oxfmt --check {staged_files}
    typecheck:
      run: npx tsc --noEmit

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}

docs: clarify CLI workflow
  README.md
  src/plugins/input/email/service.ts
Due: lint, format-check

chore: add git-secrets precommit
  README.md
  lefthook.yml
Due: none

feat: github action manifest
  action.yml
Due: none

docs: readme.md
  .env.example
  .github/workflows/action-release.yml
  CLI.md
  README.md
  action.yml
  vite.config.ts
Due: lint, format-check

fix: action
  .github/workflows/action-release.yml
  .github/workflows/build.yml
  .github/workflows/release.yml
Due: none

fix: diary action
  action.yml
Due: none

fix: action with config as text
  action.yml
Due: none

fix: action with cli path
  action.yml
  src/plugins/input/github/index.ts
  vite.config.ts
Due: lint, format-check

fix: action with cli path
  .github/workflows/action-release.yml
Due: none

fix: action with cli path
  action.yml
Due: none

fix: action with cli path
  action.yml
  vite.config.ts
Due: lint, format-check

fix: build plugins
  action.yml
  src/cli.ts
  src/plugins/autoload.ts
  src/types/ambient.d.ts
  vite.config.ts
Due: lint, format-check

fix: build plugins
  package.json
  src/plugins/config.ts
  src/plugins/input/github/tools.ts
  src/types/plugins.ts
Due: lint, format-check

chore: fix bundle
  vite.config.ts
Due: lint, format-check

chore: run local
  .prettierrc
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: lint, format-check

chore: email
  src/plugins/input/email/README.md
  src/plugins/input/email/service.ts
  src/services/ai.ts
  src/workflows/run.ts
Due: lint, format-check

docs: plugins docs link
  README.md
  package.json
Due: format-check

docs: plugins docs link
  README.md
Due: none
